$blue-text : #2c465a;
$pink-primary : #fe4c8d;
$yellow-primary: #fea100;
$yellow-background-btn: #ffeac5;
$yellow-text-btn: #d38a0c;
$yellow-rate: #fff221;
$blue-footer: #373844;
$blue-facebook: #3b5998;
$blue-twitter: #55acee;
$red-gmail: #dd4b39;
$grey-background: #ecf1f4;
$grey-text-ipt: #4e555a;
$grey-text-footer: #8e9198;
$grey-text : #878d91;
$grey-border: #e1e1e1;
$white-bg: #edf1f3;


// font-family: 'Sintony', sans-serif;
@mixin formatText ($fontSize: 14rem, $fonrWeight: regular, $color: black){
    font-size: $fontSize;
    font-weight: $fonrWeight;
    color: $color;
}
@mixin alignFlex ($direct: row, $horizonal: center, $vertical: center){
    display: flex;
    flex-direction: $direct;
    align-items: $vertical;
    justify-content: $horizonal;
}
@mixin positonCenter($pos: absolute, $top: 50%, $left: 50%){
    position: $pos;
    top: $top;
    left: $left;
    transform: translate(-$top, -$left);
}


.aboutPri{
    &-wrap{
        max-width: 97rem;
        margin: 0 auto;
        padding: 10rem 0;
    }
    &__title{
        text-align: center;
        @include formatText(3.5rem, bold, black);
    }
    &__text{
        margin: 4rem 0 6rem;
        padding: 0 13rem;
        text-align: center;
        line-height: 2rem;
        font-family: 'Sintony', sans-serif;
        @include formatText(1.4rem, regular, $grey-text);
    }
    &__video{
        &-link{
            height: 44.6rem;
            iframe{
                height: 100%;
                width: 100%;
            }
        }
        &-span{
            padding: 2rem 0;
            font-family: 'Sintony', sans-serif;
            @include formatText(1.3rem, bold, black);
            border-bottom: 1px solid $grey-border;
        }
    }
}
.introduce{
    background-color: white;
}
.time{
    background-color: $grey-background;
}

// AboutPri ------------------------------------------------------------
@media screen and (max-width: 768px){
    .aboutPri{
        &-wrap{
            padding: 5rem 0 0rem;
        }
        &__text{
            padding: 0 5rem;
        }
    }
}
@media screen and (max-width: 480px){
    .aboutPri{
        &__text{
            padding: 0 1rem;
        }
        &__video{
            &-link{
                height: 22rem;
                
            }
        }
    }
}